<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        Incapsulate Shop
      </a>
      <button routerLink="cart" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-cart-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</header>