<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        Incapsulate Shop
      </a>
      <div>
          <button routerLink="/"  type="button" class="btn btn-dark" >
            <i class="fa fa-home" aria-hidden="true"></i>
          </button>
          <button routerLink="cart" type="button" class="btn btn-dark" >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </button>
      </div>

    </div>
  </div>
</header>